body {
  position: relative;
  height: 179.688vw;
  display: block;
  margin: 0 auto;
  background: no-repeat top/100% url("../images/thread1920.png");
  font-family: 'Fantasque Sans Mono', sans-serif;
}
h1 {
  font-size: 3.125vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.865vw;
}
h2 {
  font-size: 2.604vw;
  font-style: normal;
  font-weight: 400;
  line-height: 3.646vw;
}
h3 {
  font-size: 3.125vw;
  font-weight: 400;
  width: 16.667vw;
  padding-top: 5.469vw;
  padding-left: 78.125vw;
}
p {
  font-size: 2.604vw;
  font-style: italic;
  font-weight: 400;
  line-height: 2.344vw;
}
p span {
  font-weight: 700;
  font-style: normal;
}
.point {
  height: 2.083vw;
  width: 2.083vw;
  border-radius: 50%;
  background: #EB85C2;
  animation: point .8s ease-in infinite alternate;
  animation-play-state: running;
}
.point:hover ~ img{
  animation-play-state: running;
}
.point:hover {
  animation-play-state: paused;
}
.point2 {
  height: 2.083vw;
  width: 2.083vw;
  border-radius: 50%;
  background: #667EFF;
  animation: point2 .8s ease infinite alternate 0.8s;
  animation-play-state: running;
}
.point2:hover ~ img{
  animation-play-state: running;
}
.point2:hover {
  animation-play-state: paused;
}
.part1 {
  display: flex;
  position: relative;
  width: 100vw;
}
.t1 {
  width: 31.146vw;
  height: 24.271vw;
  margin-left: 15.052vw;
}
.t1 p {
  padding-top: 14.531vw;
  padding-left: 15.625vw;
  animation: textone .85s ease-out infinite alternate;
}
.m1 {
  display: flex;
}
.m1 div {
  margin-top: 24.219vw;
  z-index: 1;
}
.m1 img {
  width: 30.208vw;
  margin-left: -1.302vw;
  opacity: 0%;
  animation: imgone 1s ease 1 forwards;
  animation-play-state: paused;
}
.imgmain {
  display: block;
}
.imgmobile {
  display: none;
}
.part2 {
  display: flex;
  position: relative;
  width: 100vw;
  height: 64.323vw;
}
.m2 {
  display: flex;
  width: 37.865vw;
  height: 43.646vw;
  position: relative;
}
.m2 div {
  margin-top: 13.021vw;
  margin-left: 23.958vw;
  z-index: 1;

}
.m2 img {
  width: 37.865vw;
  margin-left: 8.854vw;
  margin-top: -2.396vw;
  opacity: 100%;
  position: absolute;
  opacity: 0%;
  animation: imgone 1s ease 1 forwards;
  animation-play-state: paused;
}
.t2 {
  margin-top: 8.333vw;
  margin-left: 8.854vw;
  position: absolute;
  animation: texttwo .8s ease-in infinite alternate ;
}

.m3 {
  display: flex;
  width: 37.865vw;
  height: 43.646vw;
  position: relative;
}
.m3 div {
  margin-top: 52.865vw;
  margin-left: 1.042vw;
  z-index: 1;

}
.m3 img {
  width: 49.479vw;
  margin-left: -6.146vw;
  margin-top: 13.438vw;
  opacity: 100%;
  position: absolute;
  opacity: 0%;
  animation: imgone 1s ease 1 forwards;
  animation-play-state: paused;
}
.t3 {
  margin-top: 55.729vw;
  margin-left: 20.833vw;
  position: absolute;
  animation: textthree .8s ease-out infinite alternate ;
}
.m4 {
  display: flex;
  width: 37.865vw;
  height: 43.646vw;
  position: relative;
}
.m4 div {
  margin-top: 52.760vw;
  margin-left: 9.635vw;
  z-index: 1;

}
.m4 img {
  width: 21.979vw;
  margin-left: -1.979vw;
  margin-top: 26.927vw;
  opacity: 100%;
  position: absolute;
  opacity: 0%;
  animation: imgone 1s ease 1 forwards;
  animation-play-state: paused;
}
.t4 {
  margin-top: 53.646vw;
  margin-left: 45.313vw;
  position: absolute;
  animation: textfour .8s ease-in infinite alternate ;
}
.part5 {
  display: flex;
  position: relative;
  width: 100vw;
  height: 29.427vw;
}
.m5 {
  display: flex;
  width: 37.865vw;
  height: 43.646vw;
  position: relative;
}
.m5 div {
  margin-top: 19.271vw;
  margin-left: 50.781vw;
  z-index: 1;
  position: absolute;
}
.m5 img {
  width: 41.563vw;
  margin-left: 28.281vw;
  margin-top: 1.354vw;
  opacity: 100%;
  position: absolute;
  opacity: 0%;
  animation: imgtwo 1s ease 1 forwards;
  animation-play-state: paused;
}
.t5 {
  margin-top: 25vw;
  margin-left: 49.479vw;
  position: absolute;
  animation: textfive .8s ease-out infinite alternate .9s;
}
.part4 {
  display: flex;
  position: relative;
  width: 100vw;
  height: 18.490vw;
}
.m6 {
  display: flex;
  width: 37.865vw;
  height: 21.875vw;
  position: relative;
}
.m6 div {
  margin-top: 5.990vw;
  margin-left: 35.938vw;;
  z-index: 1;
  position: absolute;
}
.m6 img {
  width: 34.271vw;
  margin-left: 3.125vw;
  margin-top: -4.167vw;
  opacity: 100%;
  position: absolute;
  opacity: 0%;
  animation: imgone 1s ease 1 forwards;
  animation-play-state: paused;
}
.t6 {
  margin-top: 13.542vw;
  margin-left: 31.510vw;
  position: absolute;
  animation: textsix .8s ease-in infinite alternate;
}
.part4 h1 {
  padding-left:15.365vw;
}
.end {
  display: flex;
  position: relative;
  width: 100vw;
  height: 7.083vw;
  margin-top: 2.604vw;
}
.end h2 {
  padding-left: 52.083vw;
}
.end img {
  padding-left: 5.208vw;
}
@keyframes textone {
  0% {padding-top: 14.531vw;}
  100% {padding-top: 13.490vw;}
}
@keyframes texttwo {
  0% {margin-left: 6.771vw;}
  100% {margin-left: 8.333vw;}
}
@keyframes textthree {
  0% {margin-top: 55.729vw;}
  100% {margin-top: 56.771vw;}
}
@keyframes textfour {
  0% {margin-left: 45.313vw;}
  100% {margin-left: 46.875vw;}
}
@keyframes textfive {
  0% {margin-top: 25vw;}
  100% {margin-top: 26.042vw;}
}
@keyframes textsix {
  0% {margin-top: 13.542vw;}
  100% {margin-top: 12.500vw;}
}
@keyframes point {
  0% {transform: scale(1.2);}
  100% {transform: scale(1.6);}
}
@keyframes point2 {
  0% {transform: scale(1.2);}
  100% {transform: scale(1.6);}
}
@keyframes imgone {
  0% {opacity: 0%; transform: scale(1); transform: rotate(1deg);}
  25% {transform: rotate(-1.2deg);}
  50% {transform: scale(1.05); transform: rotate(1deg);}
  75% {transform: rotate(-1.2deg);}
  100% {opacity: 100%; transform: scale(1);}
}
@keyframes imgtwo {
  0% {opacity: 0%; transform: scale(1); transform: rotate(1deg);}
  25% {transform: rotate(-1.5deg);}
  50% {transform: scale(.95); transform: rotate(1deg);}
  75% {transform: rotate(-1.5deg);}
  100% {opacity: 100%; transform: scale(1);}
}
