@media (max-width: 1440px) {
  body {
    background: url('../images/thread1440.png');
  }
  .part1 {
    max-width: 1440px;
  }
}
@media (max-width: 414px) {
  body {
    background: url('../images/thread414.png');
  }
}
